.pig_wrapper {
  margin: auto;
  overflow: hidden;
  height: 200px;
  position: relative;
 
}

.pig {
  width: 150px;
  height: 170px;
  overflow: hidden;
  position: relative;
  left: 30%;
}

.pig::after {
  display: block;
  background: url(./piggy.png) bottom center no-repeat;
  background-color: #dbc1ad;
  background-size: contain;
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0px;
}
